<% content_for :title do %><%if @char1 == '_' then%>Glossary: Other<%else%>Glossary: <%=@char1%><%end%>
<% content_for :date do %>2013-06-25<%end%>

<h1>Terms containing "<%=@term%>"</h1>

<dl>
<%for item in @term_not_null_en do%>
<dt><%=item.term_en%></dt>
<dd><p><%=item.definition_en%></p></dd>
<%end%>
</dl>
