<html>
<head>
<title>Canadian System of Soil Classification, 3rd edition</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <style type="text/css">
  .restable {margin: auto; background: #FFF; border-collapse: collapse; border-top: 1px solid #363;}
  .restable th {font-weight: bold; padding: .3em .7em; text-align: left; vertical-align: top; background: #9C9; white-space: nowrap; border-top: 1px solid #363; border-   bottom: 1px solid #363;}
  .restable td {font-weight: normal; padding: .3em .7em; text-align: left; vertical-align: top;}
  th {font-weight: bold; padding: .3em .7em; text-align: right;}
 </style>
</head>
<body>
<%= render :partial=>"show_order_en"%>
</body>
</html>
