<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Index</title>
<link rel="stylesheet"  href="/stylesheets/lsrs/1.0/lsrs.css" type="text/css"/>
</head>
<body>

<center>

<div id="main" >
<div id="header">
<h1>Index</h1>
</div>

<table class="intro">
  <tr>
    <td class="mid"><a href="client">Client</a></td>
    <td class="mid"><a href="service">Service</a></td>
  </tr>
  <tr>
    <td class="mid" colspan="2"><a href="/">home</a></td>
  </tr>
</table>


</center>
</div>
</div>
</body>
</html>
